<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Data</title>
</head>
<body>
    <h1>Student Data</h1>
    <table style="width:100%" border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>id1</td>
            <td>name1</td>
            <td>age1</td>
            <td>address1</td>
            <td>phone1</td>
            <td>grade1</td>
        </tr>
        <tr>
            <td>id2</td>
            <td>name2</td>
            <td>age2</td>
            <td>address2</td>
            <td>phone2</td>
            <td>grade2</td>
        </tr>
        <tr>
            <td>id3</td>
            <td>name3</td>
            <td>age3</td>
            <td>address3</td>
            <td>phone3</td>
            <td>grade3</td>
        </tr>
        <tr>
            <td>id4</td>
            <td>name4</td>
            <td>age4</td>
            <td>address4</td>
            <td>phone4</td>
            <td>grade4</td>
        </tr>
        <tr>
            <td>id5</td>
            <td>name5</td>
            <td>age5</td>
            <td>address5</td>
            <td>phone5</td>
            <td>grade5</td>
        </tr>
    </table>

</body>
</html>